<br>
<div class="jumbotron text-center">
    <div class="display-3 text-center">
        Welcome To Admin {{#if user}} {{user.firstName}} {{/if}}
    </div>
    <p class="lead">
        Create Post For the next YouTube Videos.
    </p>
    <a href="/Videojet.admin/All_idea" class="btn btn-info">View Video Post</a> &nbsp;
    <a href="/Videojet.admin/create" class="btn btn-info">Create Video Post</a>
</div>