<div class="jumbotron text-center">
    <div class="display-3 text-center">
        Welcome
    </div>
    <p class="lead">
        Add Idea to the Blog For the next YouTube Videos.
    </p>
    <div class="row">
        <div class="col">
            <a href="/index" class="btn btn-info">View All New Post</a>
            <a href="/Videojet.admin/create" class="btn btn-info text-center">Add Vido Idea  &nbsp;&nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="row m-5">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Idea for Developing This..</h5>
                <h6 class="card-subtitle mb-2 text-muted text-center">New Generation Attitude!..</h6>
                <hr width="25%">
                <p class="card-text text-center">
                    In this new generation Number of young Youth having a normal attitude to live
                    , not CHALLENGE ACCEPTED attitude to be in the top , not in second postion.
                    Young Youth is Becoming lazy about their responsibility and Passion to their 
                    Work.
                    <p class="lead">
                        The Idea behind to Share the knowledge about something 
                        that help every one to Know Something......
                    </p> &nbsp;
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Vision To grow.</h5>
                <h6 class="card-subtitle mb-2 text-muted text-center">Younger Generation is Smart and Ready to FLY...</h6>
                <hr width="25%">
                <p class="card-text text-center lead">Innovation is simply doing or making something 
                differently to meet a perceived need or gap in the marketplace. 
                Innovation is not merely doing something differently for difference's sake. 
                Therefore innovation can happen in any industry that uses a procedure that can 
                be changed. Generally, innovation involves creative thinking that escapes from 
                a traditional viewpoint. It can be difficult when you're very familiar with 
                something to see it in another way. So several techniques have evolved to 
                help you in this process.</p>
            </div>
        </div>
    </div>
</div>